/* styles.css */

.menu-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22rem;
    animation: fadeIn 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.carousel-section {
    text-align: center;
    max-width: 1200px;
    width: 100%;
    color: #333;
}

.carousel-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #06000b;
}

.carousel-section p {
    font-size: 1em;
    margin-bottom: 30px;
    color: #06000b;
}

/* Carousel Container */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Carousel */
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 1rem;
}

/* Carousel Item */
.carousel-item {
    margin-top: 1rem;
    min-width: 20%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 0 10px; 
    background: linear-gradient(135deg, #ffffff, #eff1fc);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.carousel-item:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.388);
    transform: translateY(-10px) ;

}

.carousel-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.carousel-item p {
    font-size: 1.1em;
    margin-top: 10px;
    color: #06000b;
}

/* Buttons */
.carousel-button {
    margin-top: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: #ddd;
}

/* View All Button */
.view-all-btn {
    display: inline-block;
    margin-top: 5%;
    padding: 10px 20px;
    background-color: transparent;
    color: dodgerblue;
    text-decoration: none;
    border-radius: 5px;
    border: dodgerblue solid 2px;
    transition: background-color 0.3s ease-in-out;
}

.view-all-btn:hover {
    background-color: dodgerblue;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .carousel-item {
        min-width: 30%; 
    }
}

@media (max-width: 480px) {
    .carousel-item {
        min-width: 45%;
    }
}

/* Gradient Border Animation */
@keyframes rotate-border {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Responsiveness */
@media (max-width: 768px) {
    .promo-card {
        padding: 15px;
    }

    .promo-card h3 {
        font-size: 1.1em;
    }

    .promo-card p {
        font-size: 0.85em;
    }
}