@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia+Glaze:wght@100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia+Glaze:wght@100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root{
    --body-bg: #fffaee;
    --item-bg: #ffffff;
}

.partners-section{
    padding: 64px 0;
}

.brand-scroll-title{
    text-align: center;
    margin-bottom: 2rem;
}

.brand-scroll-title h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.logos-slider{
    overflow-x: hidden;
}

/* .logos-slider img{
    filter: grayscale(1);
}

.logos-slider img:hover{
    filter: grayscale(0);
} */

.overflow-slider{
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
}

.reverse .logos-wrapper{
 animation-direction: reverse;
}

.logos-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    animation: logoLoop 20s linear infinite ;
}

.logos-item{
    margin-left: 1rem;
    padding: 1rem;
    aspect-ratio: 30/9;
    background: var(--item-bg);
    display: grid;
    place-items: center;
    border-radius: 1rem;
    gap: 1rem;
}

.logos-item img {
    display: block;
    height: 4rem;
    width: 9rem;
    margin-inline: 3rem;
}

@keyframes logoLoop {
    from{
        transform: translateX(0);
    } 
    to{
        transform: translateX(-100%);
    }
}