@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia+Glaze:wght@100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia+Glaze:wght@100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

/* NAVIGASI BAR */

header {
  z-index: 10;
  position: fixed;
  justify-content: space-between;
  display: flex;
  align-items: center;
  top: 0;
  background-color: #ffffff;
  color: #000000;
  height: 10%;
  width: 100%;
  animation: fadeIn 3s ease-in-out;
}

.logo,
span {
  color: dodgerblue;
  font-weight: bold;
}

.navbar {
  padding: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.logo a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: 1s ease-in-out;
}

.logo a:hover {
  color: dodgerblue;
  font-size: 23px;
}

.nav-link {
  display: flex;
  font-size: 1rem;
  align-items: center;
  margin-right: 20px;
}

.nav-link a {
  position: relative;
  color: inherit;
  font-size: inherit;
  transition: font-size 1s;
  transition: 1s ease-in-out;
}

.nav-link a:hover {
  color: #1e90ff;
  font-size: 1.1rem;
}


.nav-link a {
  position: relative;
  transition: font-size 1s;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 0;
  height: 3px;
  background: #1e90ff;
  transition: width 1s, left 1s;
}

.nav-link a:hover {
  font-size: 1.1em;
  text-shadow: 0 0 1px #1e90ff, 0 0 1px #1e90ff, 0 0 1px #1e90ff;
  transition: font-size 1s, text-shadow 1s;
}

.nav-link a:hover::after {
  width: 100%;
  left: 0;
}

.btn-login-popup {
  padding: 10px 30px;
  background-color: #1262ed;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.btn-login-popup:hover {
  transform: translateY(-10px);
  transform: translateX(-2px);
  background-color: #0c0c0c;
  box-shadow: 4px 8px 20px 0px #0304106b;
  color: white;
}

/* navigasi end  */

.container-2 {
  width: 100%;
  height: 90%;
  margin-top: 6rem;
}

.backround-tulisan {
  margin-left: 80px;
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  border: dodgerblue 3px solid;
  box-shadow: 5px 10px 30px 0px #0304106b;
  margin-top: 30px;
  transition: 1s;
  animation: fadeIn 3s ease-in-out;
}

.backround-tulisan h1 {
  background: linear-gradient(to left, #33a3e5, #0e2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 50px;
}

/* Isi */

.bagian-tengah {
  width: 99%;
  height: 60%;
  animation: slideRight 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 80px;
  font-size: 4rem;
  margin-bottom: 30px;
  margin-left: 80px;
}

.home-span {
  background: linear-gradient(to left, #33a3e5, #0e2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.pengertian-card {
  width: auto;
  margin: 50px;
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border: #d4e4ff 3px solid;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
  box-shadow: 4px 8px 36px #d4e4ff;
  transition: 2s;
}

.pengertian-card:hover {
  box-shadow: 5px 10px 40px dodgerblue;
  border: #1262ed 3px solid;
  width: auto;
  transform: translateY(-30px);
  cursor: pointer;
}

.pengertian {
  padding: 30px;
}

.pengertian p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: black;
}

.pengertian h5 {
  font-size: 12px;
  margin-bottom: 10px;
  color: lightslategray;
}

footer {
  background-color: white;
  color: #333;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-top: 3rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-container p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 0.8rem;
}

.footer-left h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.footer-left .highlight {
  color: #00bfff; 
}

.footer-middle,
.footer-right {
  flex: 1;
  margin: 20px;
}

.footer-middle {
  margin-left: 80px;
}

.footer-middle h3,
.footer-right h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
}

.footer-middle ul li {
  margin-bottom: 10px;
}

.footer-middle ul li a {
  text-decoration: none;
  color: #666;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
}

.footer-middle ul li a::after {
  content: "\2192";
  position: absolute;
  left: -20px;
  opacity: 0;
  transition: right 0.3s ease, opacity 0.3s ease;
}

.footer-middle ul li a:hover {
  color: #00bfff;
  transform: translateX(20px) scale(1.3);
}

.footer-middle ul li a:hover::after {
  right: -5px;
  opacity: 1;
}

.footer-right form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-right input[type="email"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer-right button {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-right button:hover {
  background-color: #008fcc;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: #666;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #00bfff;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  color: #666;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* keyframe area */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
